<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <a class="navbar-brand" [href]="logoUrl">
    <img [src]="logoUrl" alt="" [width]="logoWidth">
  </a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of dataMenu">
        <a class="nav-link" [routerLink]="item.linkUrl" href="">
          {{item.name}}
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img [src]="dataUser.avatarUrl" class="user-image" alt="User Image">
          <span>{{dataUser.displayName}}</span>
        </a>

        <ul class="dropdown-menu user-menu" aria-labelledby="navbarDropdown">
          <!-- User image -->
          <li class="user-header">
            <img [src]="dataUser.avatarUrl"
                 class="img-circle" alt="User Image">
            <p>
              {{dataUser.displayName}} - {{dataUser.profile}}
              <small>{{dataUser.info}}</small>
            </p>

          </li>

          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-info btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-danger btn-flat">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
