<ul class="sidebar-menu tree" data-widget="tree">
  <li *ngFor="let item of dataSource">
    <a routerLink="{{item.link}}" *ngIf="(item.subMenu === undefined || item.subMenu === null || item.subMenu.length === 0)">
      <i class="{{item.icon}}"></i> <span>{{item.name}}</span>
    </a>
    <a *ngIf="(item.subMenu!== undefined && item.subMenu.length > 0)" class="treeview-title"
       data-toggle="collapse" href="#{{item.key}}">
      <i class="{{item.icon}}"></i> <span>{{item.name}}</span>
    </a>
    <ul class="treeview-menu collapse" id="{{item.key}}" *ngIf="(item.subMenu && item.subMenu.length > 0)">
      <li *ngFor="let subitem of item.subMenu">
        <a routerLink="{{item.link}}{{subitem.link}}">
          <i class="{{subitem.icon}}"></i> {{subitem.name}}</a>
      </li>
    </ul>
  </li>
</ul>
