// Left side bar
%after-item-shared {
  display: inline-block;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  right: .225em;
  margin-top: .75em;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f9fafc;

  li {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 600;
    a {
      padding: 12px 5px 12px 15px;
      display: block;
      color: #444;
      text-decoration: none;
    }
    &:hover {
      color: #000;
      background: #f4f4f5;
    }
  }
  .treeview-menu {
    li {
      a {
        color: #777;
        text-decoration: none;
      }
      &:hover {
        color: #000;
        background: #f4f4f5;
      }
    }
  }
}

//.light {
//  background-color: #f9fafc;
//  li {
//    a {
//      color: #444;
//      text-decoration: none;
//    }
//    :hover {
//      color: #000;
//      background: #f4f4f5;
//    }
//  }
//  .treeview-menu {
//    li {
//      a {
//        color: #777;
//        text-decoration: none;
//      }
//      :hover {
//        color: #000;
//        background: #f4f4f5;
//      }
//    }
//  }
//
//}

.treeview-menu {
  list-style: none;
  padding: 0;
  //padding-left: 5px;
  margin: 0 1px;
  background: #f7f7f7;

  li {
    a {
      padding: 0.5em 0.5em 0.5em 1.5em;
      display: block;
    }
  }
}

.treeview-title {

  &:after {
    @extend %after-item-shared;
    transform: rotate(90deg);
  }
}

.treeview-title[aria-expanded="true"] {
  &:after {
    @extend %after-item-shared;
    transform: rotate(0deg);
  }
}


