<!--The content below is only a placeholder and can be replaced.-->
<header>
  <ng7-template-common-header
    logoUrl="http://www.awrania.com/images/bootstrap_logo.png"
    hrefLogo="/"
    logoWidth="40"
    nameNavItemExpr="name"
    linkNavItemExpr="linkUrl"
    avatarUrl="https://cdn4.iconfinder.com/data/icons/people-avatars-12/24/people_avatar_head_iron_man_marvel_hero-512.png"
    [displayName]="dataUser.displayName"
    [userName]="dataUser.userName"
    [profile]="dataUser.profile"
    [subInfo]="dataUser.info"
    [dataSourceMenu]="dataMenu"
  >
  </ng7-template-common-header>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ng7-template-common-left-sidebar
        keyExpr="key"
        nameExpr="name"
        linkExpr="link"
        iconExpr="icon"
        itemsExpr="subMenu"
        [dataSource]="dataSource"
      ></ng7-template-common-left-sidebar>
    </div>
    <div class="col-md-4">
      <ng7-template-common-login
        logoUrl="http://www.awrania.com/images/bootstrap_logo.png"
        titleForm="Sign in"
        infoForm="Library Form Login"
        infoFooterForm="&copy; 2019"
        (onSubmit)="onSubmit($event)">
      </ng7-template-common-login>
    </div>
  </div>
</div>


<footer>
  <ng7-template-common-footer>Test so good</ng7-template-common-footer>
</footer>
