.bg-custom {
  background: linear-gradient(135deg, #0143a3, #0273d4);

  .nav-link {
    color: rgba(255, 255, 255, .5);

    &:hover {
      color: rgba(255, 255, 255, 0.61);
    }

    &:active {
      color: white;
    }

    span {
      color: white;
    }
  }

  .active {
    color: white;
  }
}

.dropdown-menu.user-menu {
  right: 0;
  left: auto;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}

.user-image {
  //float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.user-menu {
  .user-header {
    height: 175px;
    padding: 1em;
    text-align: center;
    background-color: #178bff;

    img {
      z-index: 5;
      height: 90px;
      width: 90px;
      border: 3px solid;
      border-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }

    p {
      z-index: 5;
      color: rgba(255, 255, 255, 0.8);
      font-size: 17px;
      margin-top: 10px;

      small {
        display: block;
        font-size: 12px;
      }
    }

  }

  .user-footer {
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
  }
}

