<ul class="sidebar-menu">
  <li *ngFor="let item of dataSource">
    <a routerLink="{{item[linkExpr]}}"
       *ngIf="(item[itemsExpr] === undefined || item[itemsExpr] === null || item[itemsExpr].length === 0)">
      <i class="{{item[iconExpr]}}"></i> <span>{{item[nameExpr]}}</span>
    </a>
    <a *ngIf="(item[itemsExpr]!== undefined && item[itemsExpr].length > 0)" class="treeview-title"
       data-toggle="collapse" href="#{{item[keyExpr]}}">
      <i class="{{item[iconExpr]}}"></i> <span>{{item[nameExpr]}}</span>
    </a>
    <ul class="treeview-menu collapse" id="{{item[keyExpr]}}" *ngIf="(item[itemsExpr] && item[itemsExpr].length > 0)">
      <li *ngFor="let subitem of item[itemsExpr]">
        <a routerLink="{{item[linkExpr]}}{{subitem[linkExpr]}}">
          <i class="{{subitem[iconExpr]}}"></i> {{subitem[nameExpr]}}</a>
      </li>
    </ul>
  </li>
</ul>
