<form class="form-signin" [formGroup]="loginForm">
  <div class="text-center mb-4">
    <img class="mb-4" [src]="logoUrl" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal text-uppercase">{{titleForm}}</h1>
    <p>{{infoForm}}</p>
  </div>

  <div class="form-label-group">
    <input type="text" id="Username"
           class="form-control"
           formControlName="username"
           placeholder="Username"
           required autofocus
    >
    <label for="Username">Username</label>
    <small class="form-text text-danger" *ngIf="username && username.invalid && (username.dirty || username.touched)">
      Username is required
    </small>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword"
           class="form-control"
           formControlName="password"
           placeholder="Password" required>
    <label for="inputPassword">Password</label>
    <small class="form-text text-danger" *ngIf="password && password.invalid && (password.dirty || password.touched)">
      Password is required
    </small>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" formControlName="remember"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onLogin()">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">{{infoFooterForm}}</p>
</form>

<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-full" style="min-height: calc(100% - 3.5rem);display: flex;
    -ms-flex-align: center;
    align-items: center;">
    <div class="modal-content" style="max-width: 500px;
    margin: 1.75rem auto;">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase text-info text-center" id="exampleModalLongTitle">login notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Username: {{username.value}}</p>
        <p>Password: {{password.value}}</p>
      </div>
    </div>
  </div>
</div>

